.main {
	width: 100%;
	// max-width: inherit;
	max-width: 69rem;
	min-height: 44.5rem;
	margin: 4.875rem auto;
	border: 1px solid orange;

	&__info-container {
		margin-top: 8.6875rem;
		margin-right: auto;
		min-height: 22.0625rem;
		display: block;
		display: flex;
		flex-direction: column;
		border: 1px solid orangered;
		position: absolute;
	}
	&__info-title {
		position: relative;
		font-size: 5rem;
		letter-spacing: -0.125rem;
		// margin-bottom: 0;
		line-height: 5.625rem;
	}
	&__info-description {
		position: relative;
		font-size: 1.375rem;
		line-height: 2.25rem;
		letter-spacing: 0.009375rem;
		// letter-spacing: 0.15px;
		color: $color-primary-gray;
	}

	&__info-button {
		border: 1px solid chartreuse;
	}
	button {
		position: relative;
		margin-right: auto;
		margin-top: 2.375rem;
	}

	&__image-container {
		position: relative;
		display: inline-block;
		z-index: -1;
		top: 5.8125rem;
		left: 33.4375rem;
		margin-left: 2.5rem;
	}
	img {
		position: relative;
	}
}
