// PRIMARY COLORS

$color-primary-cyan: hsl(180, 66%, 49%);
$color-primary-dark-violet: hsl(257, 27%, 26%);
$color-primary-black: #34313D;

// SECONDARY COLORS
$color-secondary-red: hsl(0, 87%, 67%);
$color-action-cyan: #9AE3E3;

// NEUTRAL COLORS

$color-neutral-gray: hsl(0, 0%, 75%);
$color-neutral-grayish-violet: hsl(257, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);

// DEFAULT FONT SIZE
$default-font-size: 1.125rem; // 18px